.site-footer {
    background: $mainBlue;
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;

    &__text {
        margin-bottom: 1rem;
        display: block;
        font-weight: 200;

        @include atMedium {
            display: inline-block;
            margin-bottom: auto;
            margin-right: 1.4rem;
        }
    }


}