.wrapper {
    overflow: hidden;
    padding: 0 18px;
    max-width: 1236px;
    margin: auto;

    &--medium {
        max-width: 976px;
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    &--b-margin {
    	margin-bottom:1.5rem;
        @include atSmall {
            margin-bottom: 3.875rem;
        }
    }
}